<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

<!-- DIRETIVA FORMGROUP BINDADA COM PROP DA ACTION -->
        <form novalidate [formGroup]="orderForm">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-9">
              <p class="lead">Seus Dados:</p>
            </div>
      <!-- message -->
      <div class="col-xs-3">
        <span class="help-block pull-right has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')"><i class="fa fa-remove"></i>Emails não conferem</span>
      </div>

            <div class="col-sm-6 col-xs-12">
              <mt-input-container label="Nome" menssageError="Campo obrigatório">
                <input type="text" placeholder="Nome" formControlName="name" autocomplete="off" class="form-control">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-12">
              <mt-input-container label="Email" menssageError="Campo obrigatório">
                <input type="text" formControlName="email" placeholder="Email"  autocomplete="off" class="form-control">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-12">
              <mt-input-container label="Email" menssageError="Campo obrigatório">
                <input type="text" formControlName="emailConfirmation" placeholder="Confirmação email" autocomplete="off" class="form-control">
              </mt-input-container>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Endereço de Entrega:</p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <mt-input-container label="Endereço" menssageError="Campo obrigatório">
                <input type="text" formControlName="address"  autocomplete="off" class="form-control" placeholder="Endereço">
              </mt-input-container>
            </div>
            <div class="col-sm-2 col-xs-6">
              <mt-input-container label="Número" menssageError="Campo obrigatório">
                <input type="text" formControlName="number" (blur)="procuraNumero()" autocomplete="off" class="form-control"placeholder="Numero">
              </mt-input-container>
            </div>
            <div class="col-sm-4 col-xs-6">
              <mt-input-container label="Complemento">
                <input type="text" formControlName="optionalAddress"  autocomplete="off" class="form-control" placeholder="Complemento">
              </mt-input-container>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            <mt-order-items [items]="cartItems()"
                (incrementaQtd)="incrementaQtd($event)"
                (decrementaQtd)="decrementaQtd($event)"
                (removeQtd)="remove($event)"></mt-order-items>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>

                <div class="form-group">
                  <mt-radio [options]="paymentOptions" formControlName="paymentOption" ></mt-radio>

                </div>

            </div>
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Frete e Total:</p>

              <mt-frete [delivery]="delivery" [itemValue]="itemsValue()"></mt-frete>

            </div>
            <!-- /.col -->
          </div>

        </form>

        <div class="row">
          <div class="col-xs-12">

            <button (click)="verificaCompra(orderForm.value)" class="btn btn-success pull-right"
              [disabled]="!orderForm.valid || cartItems().length === 0"><i class="fa fa-credit-card"></i> Concluir Pedido
            </button>
          </div>
        </div>

    </section>
</section>
<!-- FIM DO CONTEUDO-->
