<!-- INíCIO do CONTEÚDO -->
<section class="content-header">
  <h1>
    Todos os Restaurantes
    <a (click)="toggleSearch()" class="fa fa-search pull-right search-link "><i></i></a>
  </h1>
  <!-- bara de busca -->
  <div class="row">
    <div class="col-xs-12 search-bar" [@toggleSearch]="searchBarState">
      <form action="index.html" method="post" [formGroup]="searchForm">
        <div class="">
          <input type="text" class="form-control" formControlName="searchControl" placeholder="O que você está procurando?">
        </div>
      </form>
    </div>
  </div>
</section>

<section class="content">
  <div class="row">
    <div  *ngFor="let restaurant of restaurants" class="col-sm-6 col-xs-12">
      <mt-restaurant [restaurant]="restaurant"></mt-restaurant>
    </div>
    <div class="col-xs-12" *ngIf="restaurants?.length === 0">
      <p>Não foram encontrados items para sua busca!</p>
    </div>
  </div>

</section>

<!-- FIM  do CONTEÚDO -->
