<!--INÍCIO DO MENU -->
<div class="col-md-9 col-xs-12">

  <mt-menu-item *ngFor="let item of menu | async"
    [menuItem]="item" (add)="shopCart.addItem($event)">
  </mt-menu-item>

</div>
<div class="col-md-3 col-xs-12">
  <mt-shop-cart #shopCart></mt-shop-cart>
</div>
<!-- FIM DO MENU -->
