<div class="form-group has-feedback"
  [class.has-sucess]="hasSucess()"
  [class.has-error]="hasError()">
  <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> {{label}}</label>
  <ng-content></ng-content>
  <span class="help-block" *ngIf="showTip && hasSucess()"><i class="fa fa-check"></i> Ok</span>
  <span class="help-block" *ngIf="showTip && hasError()"><i class="fa fa-remove"></i>{{menssageError}}</span>
</div>
